h1{
  text-align: center;
}
div{
  border: 3px solid black;
  display: flex;
  align-items: center;
  margin: auto;
}
#b4{
  width: 1000px;
  height: 10g00px;
}
.b3{
  width: 100px;
  height: 100px;
}
.b2{
  width: 300px;
  height: 300px;
}
.b1{
  width: 500px;
  height: 500px;
}